$elevation-0dp: #121212;
$elevation-1dp: #1e1e1e;
$elevation-2dp: #222222;
$elevation-3dp: #242424;
$elevation-4dp: #272727;
$elevation-6dp: #2c2c2c;
$elevation-7dp: #2e2e2e;
$elevation-12dp: #333333;
$elevation-16dp: #363636;
$elevation-24dp: #383838;
$text-color: #ffffff;
$text-sub-color: rgba(255, 255, 255, 0.72);
$divider: #4c5053;
